@model Doan.Models.Customer
@{
    ViewBag.Title = "ProceedOrder";
    Layout = null;
}

<div class="row">
    <div class="col-lg-12">
        <div class="wn_checkout_wrap">
            <div class="checkout_info">
                <span>Do you have an account ?</span>
                <a class="showlogin" href="#">Click here to proceed with purchase</a>
            </div>
            <div class="checkout_login">
                @using (Html.BeginForm("ProceedOrder", "ShoppingCart", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <form class="wn__checkout__form" action="#">
                        <p>If you have shopped with us before, please enter your details in the boxes below. If you are a new customer please proceed to the Billing & Shipping section.</p>

                        <div class="input__box">
                            <label style="margin-bottom: 5px;
                                        line-height: 2;
                                        display: block;
                                        color: #333;
                                        font-size: 12px;">Email <span>*</span></label>
                            @Html.TextBoxFor(m => m.Email_Cus, new { style = "border: 1px solid #e1e1e1; height: 40px;margin: 0 0 14px;max-width: 100%;padding: 0 0 0 10px; width: 370px;", type = "text" })
                            @Html.ValidationMessageFor(m => m.Email_Cus)
                        </div>

                        <div class="input__box">
                            <label style="margin-bottom: 5px;
                                        line-height: 2;
                                        display: block;
                                        color: #333;
                                        font-size: 12px;">password <span>*</span></label>
                            @Html.PasswordFor(m => m.Password, new { style = "border: 1px solid #e1e1e1; height: 40px;margin: 0 0 14px;max-width: 100%;padding: 0 0 0 10px; width: 370px;", type = "password" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                        <div class="form__btn">
                            <button class="btn btn-success" style="margin-bottom: 10px;">Login</button>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-12">
        <div class="customer_details">
            <h3>Billing details</h3>
            @using (Html.BeginForm("Create", "Customers", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="customar__field">
                    <div class="margin_between">
                        <div class="input_box space_between">
                            <label>@Html.LabelFor(model => model.FirstName)</label>
                            @Html.EditorFor(model => model.FirstName)
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                        <div class="input_box space_between">
                            <label>@Html.LabelFor(model => model.LastName)</label>
                            @Html.EditorFor(model => model.LastName)
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="input_box">
                        <label>  @Html.LabelFor(model => model.Password)</label>
                        @Html.PasswordFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="input_box">
                        <label>Email address <span>*</span></label>
                        @Html.EditorFor(model => model.Email_Cus)
                        @Html.ValidationMessageFor(model => model.Email_Cus, "", new { @class = "text-danger" })
                    </div>
                    <div class="input_box">
                        <label>Address <span>*</span></label>
                        @Html.EditorFor(model => model.Address_Cus)
                        @Html.ValidationMessageFor(model => model.Address_Cus, "", new { @class = "text-danger" })
                    </div>
                    <div class="margin_between">
                        <div class="input_box space_between">
                            <label>Phone <span>*</span></label>
                            @Html.EditorFor(model => model.Phone_Cus)
                            @Html.ValidationMessageFor(model => model.Phone_Cus, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="input_box">
                        <input type="submit" value="Create" class="btn btn-default" style="width: 140px;" />
                    </div>
                </div>
            }
        </div>

    </div>


