@model Doan.Models.User

@{
    ViewBag.Title = "Index";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/Assets/Login.css" rel="stylesheet" />
</head>
<body>
        @using (Html.BeginForm("Authen", "Login", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
                <div class="container">
                    <div class="signin-content">
                        <div class="signin-image">
                            <figure>
                                <img src="~/Images/160317icon_login.png" alt="sing up image">
                            </figure>
                            <a class="signup-image-link" href="@Url.Action("Register","Login")"><span>Register</span></a>
                        </div>

                        <div class="signin-form">
                            <h2 class="form-title">Login</h2>
                            <form method="POST" class="register-form" id="login-form">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Email, new { style = "border-bottom: solid 1px;", placeholder = "Email" })
                                    @Html.ValidationMessageFor(m => m.Email)
                                    <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>

                                </div>
                                <div class="form-group">
                                    <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                    @Html.PasswordFor(m => m.Password, new { style = "border-bottom: solid 1px;", placeholder = "Password" })
                                    @Html.ValidationMessageFor(m => m.Password)
                                </div>
                                <div class="form-group">
                                    @if (ViewBag.error != null)
                                    {
                                        <span class="badge badge-danger">@ViewBag.error</span>
                                    }
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                    <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                                </div>
                                <div class="form-group form-button">
                                    <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
                                </div>
                            </form>
                            <div class="social-login">
                                <span class="social-label">Or login with</span>
                                <ul class="socials">
                                    <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                    <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                    <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
        }

        
</body>
</html>
